/* Ajustes de espaçamento para inputs com ícone à esquerda na tela de Login */
.login-form .p-input-icon-left > .p-inputtext,
.login-form .p-input-icon-left > .p-password > input.p-inputtext {
  padding-left: 2.25rem; /* espaço extra pro ícone */
}

/* Opcional: alinhar melhor o ícone verticalmente */
.login-form .p-input-icon-left > i {
  left: 0.75rem; /* move um pouco o ícone pra direita */
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
